* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.fixed_bar,
.pod_bar {
  width: 100vw;
  height: 10vh;
}

/* FIXED BAR */
.fixed_bar {
  background-color: #f5f8fa;
  position: fixed;
  font-size: 16px;
  z-index: 1;

}

.fixed_bar a {
  text-decoration: none;
  color: black;

}

.down_arrow  {
  border-right: 1px solid grey;
  padding: 5px 20px ;

}

.fixed_bar_container {
  width: 80%;
  margin: auto;
  position: relative;
  top: 30%;
}

.sx {
  float: left;
  padding: 0 15px;
}

.dx {
  float:right;
  padding: 0 20px;

}

.get_dx {
  border: 1px solid orange;
  padding: 7px;
  position: relative;
  top: -7px;
  background-color: #ff7a59;
  border-radius: 3%;
  margin-left: 10px;
}


}
/* .get_dx_opacity {
  width: 100%;
  height: 100%;
  background-color: white;
} */

.get_dx a {
  color: white;
}

.log_in_dx {
  background-color: white;
  border-radius: 3%;
  border: 1px solid #ff7a59;
  padding: 7px;
  position: relative;
  top: -7px; */
}

.log_in_dx a {
  color: #ff7a59;
}
.dx_search {
  float: right;
  display: none;
  padding: 7px;
  margin-left: 10px;
  transform: translateY(-5px);
}

.search_button:hover .dx_search {
  display: block;
}

.fixed_bar::after {
  display: table;
  content: '';
  clear: both;
}
/* FINE FIXED BAR */

/* NAV BAR */

.nav_bar {
  background-color: #ffffff;
  width: 100vw;
  height: 20vh;
}

.nav_bar_container {
  position: relative;
  top: 40%;
  width: 80%;
  margin: auto;
  z-index: 0;
}

.nav_bar_container img {
  transform: translateY(100%);
}

.nav_bar ul {
  float: right;
}

.nav_bar_menu li, li i, a{
 display: inline-block;
 text-decoration: none;
 color: #33465a;
}


/* FINE NAV BAR */

/* INIZIO POD BAR */

.pod_bar {
  background-color: #2d3e4f;
  color: white;
}

.pod_bar_container {
  width: 50%;
  margin: auto;
  padding: 20px;
}

.pod_bar_container * {
  float: left;
}

.pod_bar_access_now {
  width: 120px;
  background-color: white;
  border-radius: 3%;
  color: #2d3e4f;
  padding: 10px;
  margin-left: 10px;
  transform: translateY(-5px);
}

.pod_bar_container > div, a {
  margin-right: 10px;
  padding-left: 4px;
}

.pod_bar_container div {
  transform: translateY(5px);
  font-weight: bold;
}

/* FINE POD BAR */

/* INIZIO SITE IMAGE */
.site_image,
.central_container,
.last_container,
.footer_container {
  width: 100vw;
  height: 100vh;
}

.site_image {
  background-image: linear-gradient(to right, #0099b8, #ff7a59);
}

.site_text {
  width: 30%;
  margin-left: 10%;
  transform: translateY(100%);
}

.site_image h1 {
  color: white;
  font-size: 3REM;
  font-weight: bold;
}

.second_text {
  width: 30%;
  margin-left: 10%;
  color: white;
  transform: translateY(150%);
}

.second_text h4 {
  font-weight: lighter;
  margin-top: 30px;
}

.site_image_get {
  width: 30%;
  margin-left: 10%;
  position: relative;
  top: 25%;
}

.site_image_get_btn {
  background-color: white;
  padding: 30px;
  width: 240px;
  text-align: center;
  font-weight: bold;
  border-radius: 2%;
}

.site_image_low {
  width: 10%;
  margin-left: 10%;
  position: relative;
  top: 10%;
}

.site_image_low p {
  font-size: 8px;
  color: white;
  transform: translateY(120px);
}
/* FINE SITE IMAGE */

/* INIZIO MAIN CONTAINER */
.main_container {
  width: 100vw;
  height: 220vh;
  background-color: #f5f8fa;
}

.main_container_top {
  width: 80%;
  margin: auto;
  text-align: center;
}

.main_container img {
 width: 250px;
 position:relative;
 top: 60px;
}

.main_container_top h1, h2 {
  transform: translateY(120%);
}

.main_container_top h2 {
  font-size: 22px;
  font-weight: lighter;
}


.main_container_learn {
  width: 80%;
  height: 300px;
  margin: auto;
  background-color: white;
  transform: translateY(50%);
  margin-bottom: 15%;
}

.main_container_learn img {
  width: 180px;
  transform: translateX(50%);
}

.main_container_learn_more_button {
  background-color: #ff7a59;
  padding: 15px;
  width: 140px;
  text-align: center;
  border-radius: 3%;
  position: relative;
  top: 25%;
  left: 10%;
}

.main_container_learn_more_button a {
  color: white;
}

.main_container_learn_text {
  float: right;
  width: 60%;
  padding-right: 10%;
  transform: translateY(-100%);
}

 .main_container_learn_text h4, ul{
  transform: translateY(40px);
  margin-right: 20px;
}

.main_container_learn_text ul li i {
  margin-right: 10px;
}

.main_container_learn_text ul li {
  display: inline-block;
  margin-right: 25px;
  margin-top: 20px;
}

.main_container_learn_text h1 {
  font-weight: bold;
}

.main_container_learn_text i {
  color: #ff7a59;
}

.main_container_learn_text h5 {
  color: #405163;
  margin-top: 20px;
}

.main_line {
  border-top: 1px solid #e0e6ed;
  padding-top: 30px;
  width: 250px;
}
/* FINE MAIN CONTAINER */


/* INIZIO MAIN FEATURES*/
.main_features {
  width: 80%;
  margin: auto;
}

.feat1,
.feat2,
.feat3 {
  width: 32%;
  height: 650px;
  margin: auto;
  background-color: white;
  float: left;
}

.feat2 {
  margin-left: 2%;
  margin-right: 2%;
}

.main_features img {
  position: relative;
  left: 30%;
}

.feat1 img {
  width: 150px;
}

.feat2 img {
  width: 180px;
  left: 25%;
}

.feat3 img {
  width: 130px;
}

.main_features h2 {
  text-align: center;
  line-height: 50px;
}

.main_features p {
  padding:50px;
  transform: translateY(30px);
  font-size: 14px;
  font-weight: lighter;
}

.feat_line h4 {
  width: 80%;
  border-top: 1px solid #e0e6ed;
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.feat_line li  {
  list-style-type: none;
  margin-left: 20%;
}

.feat_line ul li i {
  margin: 0 10px;
  color: #ff7a59;
}

.feat_button {
  background-color: #ff7a59;
  padding: 10px;
  width: 130px;
  text-align: center;
  border-radius: 3%;
  position: relative;
  top: 10%;
  left: 30%;
}

.feat_button a {
  color: white;
}

/* FINE MAIN FEATURES */
.central_container {
  background-color: #02a8b8;
}

.last_container {
  background-color: #f5f8fa;
}

.footer_container {
  background-color: #33465a;
}
